; EditorConfig is awesome: http://EditorConfig.org

; top-most EditorConfig file
root = true

; base rules
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

; Dont remove trailing whitespace from markdown
; files since it messes up newlines
[*.md]
trim_trailing_whitespace = false

; Make does not work without tabs
[Makefile]
indent_style = tab
